.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.header-section {
    width: 40%;
    min-height: 375px;
    max-width: 820px;
}
.galeria  {
    width: 60%;
    background-color: white;
    min-width: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}
.nosotros  {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: white;
    min-width: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}
.servicios {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: white;
    min-width: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}
.contacto {
    width: 60%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 375px) {
    .contacto{
        width: 100%;
    }
    .header-section{
        width: 100%;
    }

}

@media (max-width: 820px){
  .header-section {
    width: 100%;
    
  }
  .servicios {
    width: 100%;
  }
  .contacto {
    width: 100%;
  }
  .nosotros {
    width: 100%;
  }
  .galeria {
    width: 100%;
  }
} 
