
.coolBeans {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    overflow: hidden;
    padding: 9px 17px;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    
  }
  .coolBeans::after {
    background-color: rgb(21, 116, 148);
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  .coolBeans:hover::after {
    transform: translate(0, 0);
  }
  .coolBeans:hover {
    border: 2px solid transparent;
    color: #fff;
    transform: scale(1.05);
    will-change: transform;
  }

  .Nav-container {
    display: flex;
    width: 400px;
    height: auto;
    max-width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: inherit;
    margin-top: 40px;
}
     
    