*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // width: 900px;
  // background-color: rgb(25,35,125);
  
}

code {
  font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
}

font {
  width: min-content;
  margin: 0;
  padding: 0;
}
b {
  width: min-content;
  margin: 0;
  padding: 0;
}